# Compiled python modules.
*.pyc

__pycache__/

# Setuptools
/dist/
/*.egg-info

# Pytest
.pytest_cache

# IDE
/.idea/
/.vscode/
/.ipynb_checkpoints/

# Virtual Environment
/venv/

# Resources
/data/
/bin/